<app-page-title [title]="'Alterar Tipo de Participante'"></app-page-title>

<div class=" container-fluid justify-content-center col-lg-9 col-md-8 mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-8">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-8">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Informações</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form appForm [formGroup]="editForm">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Descrição Tipo de Participante</label>
                                        <input formControlName="descTipoParticipante" class="form-control form-control-alternative" type="text" appAutoFocus />
                                        <app-error-component controlName="descTipoParticipante"></app-error-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                    </form>
                    <ul class="nav nav-pills justify-content-end">
                        <button class="btn btn-light" form="editForm" (click)="voltar()">
                            Voltar
                        </button>
                        <button class="btn btn-primary" type="submit" (click)="updateTipoParticipante()">
                            Salvar Mudanças
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
