<app-page-title [title]="'Alterar Tipo de Evento'"></app-page-title>

<div class=" container-fluid justify-content-center mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-8">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Informações</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form appForm [formGroup]="editForm">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Código Tipo de Evento</label>
                                        <input
                                            class="form-control form-control-alternative"
                                            placeholder="Codigo Tipo de Evento"
                                            type="text"
                                            formControlName="codTipoEvento"
                                            appAutoFocus
                                        />
                                        <app-error-component controlName="codTipoEvento"></app-error-component>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Descrição Tipo de Evento</label>
                                        <textarea class="form-control form-control-alternative" formControlName="descTipoEvento"> </textarea>
                                        <app-error-component controlName="descTipoEvento"></app-error-component>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                    <input class="form-control custom-control-input" type="checkbox" id="checkbox-1" formControlName="alocGrupoCota" />
                                    <label class="custom-control-label" for="checkbox-1">
                                        Alocação de Grupo Com Cota
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                    <input class="form-control custom-control-input" type="checkbox" id="checkbox-2" formControlName="alocSemGrupoCota" />
                                    <label class="custom-control-label" for="checkbox-2">
                                        Alocação de Grupo Sem Cota
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                    <input class="form-control custom-control-input" type="checkbox" id="checkbox-3" formControlName="verificaCredito" />
                                    <label class="custom-control-label" for="checkbox-3">
                                        Verifica Crédito
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                    <input class="form-control custom-control-input" type="checkbox" id="checkbox-4" formControlName="cadastroObrigatorio" />
                                    <label class="custom-control-label" for="checkbox-4">
                                        Cadastro Obrigatório
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                    <input class="form-control custom-control-input" type="checkbox" id="checkbox-5" formControlName="confirmacaoObrigatoria" />
                                    <label class="custom-control-label" for="checkbox-5">
                                        Confirmação Obrigatória
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                    <input
                                        class="form-control custom-control-input"
                                        placeholder="Verifica Inadimplencia"
                                        type="checkbox"
                                        id="checkbox-6"
                                        formControlName="verificaInadimplencia"
                                    />
                                    <label class="custom-control-label" for="checkbox-6">
                                        Verifica Inadimplência
                                    </label>
                                </div>
                            </div>
                        </div>
                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                    </form>
                    <ul class="nav nav-pills justify-content-end">
                        <button class="btn btn-light" (click)="voltar()">
                            Voltar
                        </button>
                        <button class="btn btn-primary" (click)="updateTipoEvento()">
                            Salvar Mudanças
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
