<form appForm [formGroup]="searchForm" novalidate>
    <div class="row align-items-center">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="form-control-label" for="input-username">Evento</label>
                <select class="form-control form-control-alternative" formControlName="eventoId">
                    <option value="" [selected]="!cotaSearch.eventoId">--Selecionar--</option>
                    <option *ngFor="let evento of eventos" [value]="evento.id"
                        [selected]="evento.id == cotaSearch.eventoId">{{ evento.nome }}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="form-control-label" for="grupo">Grupo</label>
                <input type="text" formControlName="grupo" class="form-control form-control-alternative"
                    placeholder="1234">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="form-control-label" for="cota">Cota</label>
                <input type="text" formControlName="cota" class="form-control form-control-alternative"
                    placeholder="1234">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="form-control-label" for="cpfCnpj">CPF/CNPJ</label>
                <input type="text" formControlName="cpfCnpj" class="form-control form-control-alternative"
                    placeholder="000.000.000-00">
            </div>
        </div>
        <div class="col-lg-2">
            <button type="submit" (click)="onSearch()" class="btn btn-block btn-primary">Pesquisar</button>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</form>