ul {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

ul ul {
    list-style-type: none;
}

.navbar-vertical.navbar-expand-md .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: -3.5rem;
    margin-right: -1.5rem;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.divider {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    cursor: pointer;
}

.nav-item .submenu:hover {
    color: brown;
    opacity: 0.5;
}