<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
          <!-- Toggler -->
          <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
             aria-controls="sidenav-collapse-main">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Brand -->
          <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/']">
            <img src="./assets/img/brand/scania-logo.png" class="navbar-brand-img" alt="...">
          </a>
          <!-- Collapse -->
          <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a  routerLinkActive="active" [routerLink]="['/']">
                    <img src="./assets/img/brand/blue.png">
                  </a>
                </div>
                <div class="col-6 collapse-close">
                  <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
                    <span></span>
                    <span></span>
                  </button>
                </div>
              </div>
            </div>
            <!-- Form -->
            <form class="mt-4 mb-3 d-md-none">
              <div class="input-group input-group-rounded input-group-merge">
                <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </form>
            <!-- Navigation -->
            <ul class="navbar-nav">
                    <li *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
                        <a *ngIf="menuItem.childItems" (click)="menuItem.isCollapsed = !menuItem.isCollapsed" class="nav-link">
                            <i class="ni {{ menuItem.icon }}"></i> {{ menuItem.title }}
                        </a>
                        <ul *ngIf="menuItem.childItems" [ngbCollapse]="menuItem.isCollapsed" class="navbar-item">
                            <li *ngFor="let subMenuItem of menuItem.childItems" class="{{ menuItem.class }} nav-item submenu">
                                <hr class="divider" />
                                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="[subMenuItem.path]" class="nav-link" style="font-size: 80%">
                                    <i class="ni {{ subMenuItem.icon }}"></i> {{ subMenuItem.title }}
                                </a>
                            </li>
                        </ul>
                        <a *ngIf="!menuItem.childItems" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                            <i class="ni {{ menuItem.icon }}"></i> {{ menuItem.title }}
                        </a>
                        <hr/>
                    </li>
                </ul>
          </div>
        </div>
      </nav>