<nav class="navbar navbar-top navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <span class="h3 mb-0 text-white align-items-center text-uppercase d-none d-lg-inline-block ml-3">{{ getTitle() }}</span>
        <form class="navbar-search navbar-search-dark form-inline mr-2 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" placeholder="Search" type="text" (focus)="focus = true"
                        (blur)="focus = false">
                </div>
            </div>
        </form>
    </div>
</nav>