//
// Forms
//
@import "../core/forms/form";
@import "../core/forms/form-validation";
@import "../core/forms/input-group";
//
// Form validation
//
.form-control.ng-invalid.ng-touched {
    border: 1px solid $form-feedback-invalid-color;
    &::placeholder {
        color: $form-feedback-invalid-color;
    }
}

.form-control-alternative {
    border: 1px solid #dae1e8;
}

.invalid-feedback p {
    margin-bottom: 0;
    font-size: 90%;
}
