<app-page-title [title]="'Total de Produtos: ' + produtos.length"></app-page-title>

<!-- Page content -->
<div class="container-fluid mt--8">
    <!-- Table -->
    <div class="row">
        <div class="col mt-2">
            <div class="card shadow">
                <div class="card-header border-8">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 text-dark">Tipos de Produto</h3>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                <button type="button" class="btn btn-outline-primary" [routerLink]="['criar']">
                                    Criar Produto
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Código Produto</th>
                                <th scope="col">Descrição Produto</th>
                                <th scope="col">Fabricante</th>
                                <th scope="col" class="text-center">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let produto of produtos">
                                <td>
                                    {{ produto.codProduto }}
                                </td>
                                <td>
                                    {{ produto.descProduto }}
                                </td>
                                <td>
                                    {{ produto.fabricante }}
                                </td>
                                <td class="text-center">
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-primary "
                                        [routerLink]="[produto.id, 'edit']"
                                        tooltip="Editar"
                                        container="td"
                                        placement="top"
                                    >
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-danger"
                                        (click)="deleteProduto(produto.id)"
                                        container="td"
                                        tooltip="Excluir"
                                        placement="top"
                                    >
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
