<app-page-title [title]="'Total de Eventos: ' + eventos.length"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row">
        <div class="col mt-2">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Lista de Eventos</h3>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                <button type="button" class="btn btn-outline-primary" [routerLink]="['criar']">
                                    Cadastrar Novo Evento
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Nome</th>
                                <th>Tipo do Evento</th>
                                <th>Inicio da Venda</th>
                                <th>Fim da Venda</th>
                                <th class="text-center">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let evento of eventos">
                                <td> {{ evento.nome }} </td>
                                <td> {{ evento.tipoEventoDesc }}</td>
                                <td> {{ evento.inicioVenda | date: 'shortDate' }} </td>
                                <td> {{ evento.fimVenda | date: 'shortDate' }} </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-sm btn-outline-primary"
                                        [routerLink]="[evento.id, 'editar']" container="td" tooltip="Editar"
                                        placement="top">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger"
                                        (click)="deleteEventos(evento.id)" container="td" tooltip="Excluir"
                                        placement="top">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>