<app-page-title [title]="'Cotas para Alocação'"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row">
        <div class="col">
            <div class="card bg-secondary shadow">
                <div class="card-body">
                    <app-cotas-search [eventos]="eventos" [cotaSearch]="cotaSearch" (cotaSearch)="searchCotas($event)"
                        (evento)="selectEvento($event)"></app-cotas-search>
                </div>
            </div>
        </div>
    </div>
    <div class=" row mt-2 ">
        <div class="col ">
            <div class="card shadow ">
                <div class="card-header border-0 ">
                    <div class="row align-items-center ">
                        <div class="col ">
                            <h4 class="mb-0 text-dark ">
                                Cotas Disponíveis para Alocação
                            </h4>
                        </div>
                        <div class="col text-right ">
                            <button type="button " [disabled]="!selectedCotas || selectedCotas.length <= 0" (click)="create()" class="btn btn-sm btn-primary ">
                                Criar Alocação
                            </button>
                        </div>
                    </div>
                </div>
                <app-cotas-list [cotas]="cotas" [selectable]="true" (selectedCota)="selectCota($event)" (unSelectedCota)="unSelectCota($event)"></app-cotas-list>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
            </div>
        </div>
    </div>
</div>
