<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th>Tipo Participante</th>
                <th>CPF</th>
                <th>Nome Completo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let participante of participantes">
                <td>{{participante.tipoParticipanteDesc}}</td>
                <td>{{participante.cpf}}</td>
                <td>{{participante.nomeCompleto}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-danger"
                        (click)="selectParticipante(participante)" container="td" tooltip="Excluir" placement="top">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>