<app-page-title [title]="'Novo Participante'"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-4">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-3 py-lg-3"></div>
                <!-- Form para Participante -->
                <form appForm *ngIf="editForm" [formGroup]="editForm"
                    class="ng-untouched ng-pristine ng-valid ng-touched" novalidate>
                    <div class="card-head bg-primary border-0 mt--5 mb-3 px-lg-2 py-lg-2">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="mb-0">
                                    <h4 class="mb-0 ml-3 text-white">Informações Pessoais</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4">
                        <div class="row">
                            <!-- NomeCompleto -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Nome Completo</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        placeholder="Aurélio Cabral" formControlName="nomeCompleto" appAutoFocus />
                                    <app-error-component controlName="nomeCompleto"></app-error-component>
                                </div>
                            </div>
                            <!-- CPF -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">CPF</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        placeholder="000.000.000-00" formControlName="cpf" maxlength="14"
                                        [dropSpecialCharacters]="true" mask="000.000.000-00" />
                                    <app-error-component controlName="cpf"></app-error-component>
                                </div>
                            </div>
                            <!-- Sexo -->
                            <div class="col-lg-2">
                                <label class="form-control-label mt-1">Sexo</label>
                                <div class="row ml-0 mt-2">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="masculino"
                                            formControlName="sexo" value="Masculino"
                                            (click)="habilitaCamposGenero(1)" />
                                        <label for="sexoMasculino" class="form-check-label mr-2">Masculino</label>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" id="feminino"
                                                formControlName="sexo" value="Feminino"
                                                (click)="habilitaCamposGenero(0)" />
                                            <label for="sexoFeminino" class="form-check-label">Feminino</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4 mt--1">
                        <div class="row mt--3">
                            <!-- RG -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">RG</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="rg" placeholder="123456" />
                                    <app-error-component controlName="rg"></app-error-component>
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label">Email</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="email" placeholder="aureliocabral@scania.com" />
                                    <app-error-component controlName="email"></app-error-component>
                                </div>
                            </div>
                            <!-- Data de nascimento -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">Data de nascimento</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="nascimento" placeholder="00/00/0000" bsDatepicker
                                        triggers="keyup:keydown || click:click" />
                                    <app-error-component controlName="nascimento"></app-error-component>
                                </div>
                            </div>
                            <!-- Tipo Participante -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Tipo Participante</label>
                                    <select class="form-control form-control-alternative" name="tipoParticipanteId"
                                        formControlName="tipoParticipanteId">
                                        <option disabled="" value="">-----Tipo Participante-----</option>
                                        <option *ngFor="let tipoParticipante of tipoParticipantes"
                                            value="{{ tipoParticipante.id }}">{{
                                            tipoParticipante.descTipoParticipante
                                        }}</option>
                                    </select>
                                    <app-error-component controlName="tipoParticipanteId"></app-error-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4 mt--1">
                        <div class="row"></div>
                    </div>
                    <div class="card-head bg-primary border-0 mb-3 px-lg-2 py-lg-2">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="mb-0">
                                    <h4 class="mb-0 ml-3 text-white">Contato</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4 mt--1">
                        <div class="row">
                            <!-- Telefone Celular -->
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label">Telefone Celular</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="telefoneCelular" placeholder="9 9999-9999"
                                        mask="(00) 00000-0000" />
                                    <app-error-component controlName="telefoneCelular"></app-error-component>
                                </div>
                            </div>
                            <!-- Telefone Residencial -->
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label">Telefone Residencial</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="telefoneResidencial" placeholder="3333-3333"
                                        mask="(00) 0000-0000" />
                                    <app-error-component controlName="telefoneResidencial"></app-error-component>
                                </div>
                            </div>
                            <!-- Telefone Comercial -->
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label">Telefone Comercial</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="telefoneComercial" placeholder="9 9999-9999"
                                        mask="(00) 0000-0000" />
                                    <app-error-component controlName="telefoneComercial"></app-error-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-head bg-primary border-0 mb-3 px-lg-2 py-lg-2">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="mb-0">
                                    <h4 class="mb-0 ml-3 text-white">Informações de Viagem</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4 mt--1">
                        <div class="row">
                            <!-- Passaporte -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Passaporte</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="passaporte" placeholder="1234567890"
                                        (keydown)="habilitaCamposPassaporte($event.target.value)" />
                                    <app-error-component controlName="passaporte"></app-error-component>
                                </div>
                            </div>
                            <!-- Passsaporte Validade -->
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label">Validade do Passaporte</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="passaporteValidade" placeholder="01/01/1999" bsDatepicker
                                        triggers="keyup:keydown || click:click" />
                                    <app-error-component controlName="passaporteValidade"></app-error-component>
                                </div>
                            </div>
                            <!-- Visto -->
                            <div class="col-lg-2">
                                <label class="form-control-label">
                                    Possui Visto
                                </label>
                                <div class="form-group">
                                    <select name="visto" formControlName="visto"
                                        class="form-control form-control-alternative"
                                        (change)="habilitaCamposVisto($event.target.value)">
                                        <option disabled value="">---Selecione---</option>
                                        <option value="false">Não</option>
                                        <option value="true">Sim</option>
                                    </select>
                                    <app-error-component controlName="visto"></app-error-component>
                                </div>
                            </div>
                            <!-- Validade do Visto -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">Validade do Visto</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="vistoValidade" placeholder="01/01/1999" bsDatepicker
                                        triggers="keyup:keydown || click:click" />
                                    <app-error-component controlName="vistoValidade"></app-error-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4 mt--1">
                        <div class="row">
                            <!-- Local de Embarque -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Local de Embarque</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="localEmbarque" placeholder="São Paulo" />
                                    <app-error-component controlName="localEmbarque"></app-error-component>
                                </div>
                            </div>
                            <!-- Local de Desembarque -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Local de Desembarque</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="localDesembarque" placeholder="Curitiba" />
                                    <app-error-component controlName="localDesembarque"></app-error-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- INFORMAÇÕES ADICIONAIS -->
                    <div class="card-head bg-primary border-0 mb-3 px-lg-2 py-lg-2">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="mb-0">
                                    <h4 class="mb-0 ml-3 text-white">
                                        Informações Adicionais
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4 mt--1">
                        <div class="row">
                            <!-- Gestante -->
                            <div class="col-lg-2">
                                <label class="form-control-label">
                                    Gestante
                                </label>
                                <div class="form-group">
                                    <select name="visto" formControlName="gestante"
                                        class="form-control form-control-alternative"
                                        (change)="habilitaCamposGravidez($event.target.value)">
                                        <option disabled value="">---Selecione---</option>
                                        <option value="false">Não</option>
                                        <option value="true">Sim</option>
                                    </select>
                                    <app-error-component controlName="gestante"></app-error-component>
                                </div>
                            </div>
                            <!-- Semanas Gestação -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">Semanas Gestação</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="semanasGravidez" placeholder="0" id="teste" />
                                </div>
                            </div>
                            <!-- necessidades especiais -->
                            <div class="col-lg-3">
                                <label class="form-control-label">
                                    Necessidades Especiais
                                </label>
                                <div class="form-group">
                                    <select name="necessidadesEspeciais" formControlName="necessidadesEspeciais"
                                        class="form-control form-control-alternative">
                                        <option disabled value="null">---Selecione---</option>
                                        <option value="false">Não</option>
                                        <option value="true">Sim</option>
                                    </select>
                                    <app-error-component controlName="necessidadesEspeciais"></app-error-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4 mt--1">
                        <div class="row">
                            <!-- Observação -->
                            <div class="col-lg-11">
                                <div class="form-group">
                                    <label class="form-control-label">Observação</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="observacao" placeholder="Av Centro 2278" />
                                    <app-error-component controlName="observacao"></app-error-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM DE ENDEREÇO -->
                    <div class="card-head bg-primary border-0 mb-3 px-lg-2 py-lg-2">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <div class="mb-0">
                                    <h4 class="mb-0 ml-3 text-white">Endereço</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4 mt--1" [formGroup]="editForm.controls['endereco']">
                        <div class="row">
                            <!-- Logradouro -->
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Logradouro</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="logradouro" placeholder="Av Centro" />
                                    <app-error-component controlName="logradouro"></app-error-component>
                                </div>
                            </div>
                            <!-- Número -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">Número</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="numero" placeholder="2278" />
                                    <app-error-component controlName="numero"></app-error-component>
                                </div>
                            </div>
                            <!-- Ponto Referência -->
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label">Ponto Referência</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="pontoReferencia" placeholder="Posto da Esquina" />
                                    <app-error-component controlName="pontoReferencia"></app-error-component>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- CEP -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">CEP</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="cep" placeholder="80000-000" mask="00000-000" />
                                    <app-error-component controlName="cep"></app-error-component>
                                </div>
                            </div>
                            <!-- Bairro -->
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label">Bairro</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="bairro" placeholder="Centro" />
                                    <app-error-component controlName="bairro"></app-error-component>
                                </div>
                            </div>
                            <!-- Cidade -->
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label">Cidade</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="cidade" placeholder="Curitba" />
                                    <app-error-component controlName="cidade"></app-error-component>
                                </div>
                            </div>
                            <!-- Estado -->
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="form-control-label">Estado</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        formControlName="estado" placeholder="Paraná" />
                                    <app-error-component controlName="estado"></app-error-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-pills justify-content-end mr-3 mb-3">
                        <button class="btn btn-light" form="editForm" (click)="onBack()">
                            Voltar
                        </button>
                        <button type="submit" class="btn btn-primary" form="editForm"
                            (click)="onSave()">
                            Cadastrar Participante
                        </button>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <br />
</div>