<app-page-title [title]="'Criar alocação no evento: ' + alocacaoCreate.evento.nome"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row">
        <div class="col">
            <div class="card bg-secondary shadow">
                <div class="card-body">
                    <form appForm [formGroup]="createForm" novalidate>
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Saída e Grupo</label>
                                    <select class="form-control form-control-alternative" formControlName="grupoId">
                                        <option value="" [selected]="!alocacaoCreate.grupoId">--Selecionar--</option>
                                        <option *ngFor="let grupo of alocacaoCreate.grupos" [value]="grupo.id">
                                            {{ grupo.saida.saidaEstimada | date: 'shortDate' }} - {{ grupo.descricao }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" (click)="onCreate()" class="btn btn-primary">Criar
                                    Alocação</button>
                                <button type="button" (click)="onBack()" class="btn btn-light">Voltar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2" *ngIf="alocacaoCreate.cotas && alocacaoCreate.cotas.length > 0">
        <div class="col ">
            <div class="card shadow ">
                <div class="card-header border-0 ">
                    <div class="row align-items-center ">
                        <div class="col ">
                            <h4 class="mb-0 text-dark ">
                                Cotas Selecionadas
                            </h4>
                        </div>
                    </div>
                </div>
                <app-cotas-list [cotas]="alocacaoCreate.cotas"></app-cotas-list>
            </div>
        </div>
    </div>
</div>