<app-page-title [title]="'Participantes'"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row">
        <div class="col mt-2">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0 text-dark">
                                Lista de Participantes
                            </h3>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                <button class="btn btn-outline-primary" type="button" [routerLink]="['criar']">
                                    Cadastrar Novo Participante
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Tipo Participante</th>
                                <th>CPF</th>
                                <th>Nome Completo</th>
                                <th class="text-center">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let participante of participantes">
                                <!-- Adicionar novamente aoós refactor do back -->
                                <td>{{participante.tipoParticipanteDesc}}</td>
                                <td>{{participante.cpf}}</td>
                                <td>{{participante.nomeCompleto}}</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-sm btn-outline-primary"
                                        [routerLink]="[participante.id, 'editar']" container="td" tooltip="Editar"
                                        placement="top">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger"
                                        (click)="deleteParticipante(participante.id)" container="td" tooltip="Excluir"
                                        placement="top">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>