<app-page-title [title]="'Editar Evento: ' + evento.nome"></app-page-title>

<div class="container-fluid justify-content-center mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-8">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Informações</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form appForm [formGroup]="editForm" novalidate>
                        <div class="pl-lg-4">
                            <div class="row mt-4">
                                <div class="col-lg-6">
                                    <label class="form-control-label">Tipo Evento</label>
                                    <div class="input-group mb-3">
                                        <select class="form-control form-control-alternative" name="tipoEventoId" formControlName="tipoEventoId">
                                            <option disabled="" value="">-----Tipo Evento-----</option>
                                            <option *ngFor="let tipoEvento of tipoEventos" value="{{ tipoEvento.id }}"> {{ tipoEvento.descTipoEvento }}</option>
                                        </select>
                                        <app-error-component controlName="tipoEventoId"></app-error-component>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-0" />
                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Nome do Evento
                                        </label>
                                        <input type="text" class="form-control form-control-alternative" formControlName="nome" />
                                        <app-error-component controlName="nome"></app-error-component>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Inicio das Vendas
                                        </label>
                                        <input type="text" class="form-control" formControlName="inicioVenda" bsDatepicker triggers="keyup:keydown || click:click" />
                                        <app-error-component controlName="inicioVenda"></app-error-component>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Fim das Vendas
                                        </label>
                                        <input type="text" class="form-control" formControlName="fimVenda" bsDatepicker triggers="keyup:keydown || click:click" />
                                        <app-error-component controlName="fimVenda"></app-error-component>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">
                                            Porcentagem Provisão
                                        </label>
                                        <input type="number" class="form-control form-control-alternative" formControlName="porcentagemProvisao" />
                                        <app-error-component controlName="porcentagemProvisao"></app-error-component>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="custom-control custom-control-alternative custom-checkbox mt-2">
                                            <input class="form-control custom-control-input" type="checkbox" id="checkbox-1" formControlName="acessoRestrito" />
                                            <label class="custom-control-label" for="checkbox-1">
                                                Acesso Restrito
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row float-right">
                                <button type="button" class="btn btn-light btn-light" (click)="onBack()">Voltar</button>
                                <button type="button" class="btn btn-primary" (click)="onSave()">Salvar Mudanças</button>
                            </div>
                        </div>
                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
