<app-page-title [title]="'Alterar Produto'"></app-page-title>

<div class=" container-fluid mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-8">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-8">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Informações</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                    <form appForm [formGroup]="editForm">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Código Produto</label>
                                        <input class="form-control form-control-alternative" type="text" formControlName="codProduto" appAutoFocus />
                                        <app-error-component controlName="codProduto"></app-error-component>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Conta</label>
                                        <input class="form-control form-control-alternative" type="text" formControlName="conta" />
                                        <app-error-component controlName="conta"></app-error-component>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Fabricante</label>
                                        <input class="form-control form-control-alternative" type="text" formControlName="fabricante" />
                                        <app-error-component controlName="fabricante"></app-error-component>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Contra Partida</label>
                                        <input class="form-control form-control-alternative" type="text" formControlName="contraPartida" />
                                        <app-error-component controlName="contraPartida"></app-error-component>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Descrição do Produto</label>
                                        <input class="form-control form-control-alternative" type="text" formControlName="descProduto" />
                                        <app-error-component controlName="descProduto"></app-error-component>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Centro de Custo</label>
                                        <input class="form-control form-control-alternative" type="text" formControlName="centroCusto" />
                                        <app-error-component controlName="centroCusto"></app-error-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <ul class="nav nav-pills justify-content-end">
                        <button class="btn btn-light" (click)="voltar()">
                            Voltar
                        </button>
                        <button class="btn btn-primary" type="submit" (click)="updateProduto()">
                            Salvar Mudanças
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
