<form appForm [formGroup]="searchForm" novalidate>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="form-control-label" for="nomeCpfCnpj">Nome ou CPF/CNPJ</label>
                <input type="text" formControlName="nomeCpfCnpj" class="form-control form-control-alternative">
            </div>
        </div>
        <div class="col-lg-6">
            <button type="submit" (click)="onSearch()" class="btn btn-primary">Pesquisar</button>
            <button type="button" (click)="onCreate()" class="btn btn-light">Novo</button>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</form>