<div *ngIf="cotas?.length> 0" class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th *ngIf="selectable"></th>
                <th>Concessionária</th>
                <th>Grupo</th>
                <th>Cota</th>
                <th>Consorciado</th>
                <th>CPF/CNPJ</th>
                <th>Crédito</th>
                <th>Data de Adesão</th>
                <th>Inadimplente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cota of cotas">
                <td *ngIf="selectable">
                    <div class="form-check">
                        <input class="form-check-input position-static" [checked]="cota.selected" type="checkbox"
                            (change)="selectCota(cota)" aria-label="Selecionar" />
                    </div>
                </td>
                <td>{{ cota.concessionaria }}</td>
                <td>{{ cota.grupo }}</td>
                <td>{{ cota.codCota }}</td>
                <td>{{ cota.consorciado }}</td>
                <td>{{ cota.cpfCnpj }}</td>
                <td>{{ cota.credito | moeda }}</td>
                <td>{{ cota.adesao | date: 'shortDate' }}</td>
                <td>{{ cota.inadimplente | simnao }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card-body" *ngIf="!cotas || cotas.length <=0">
    <p>Alocação sem cotas</p>
</div>