<app-page-title [title]="'Alocações'"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row">
        <div class="col">
            <div class="card bg-secondary shadow">
                <div class="card-body">
                    <app-alocacoes-search [eventos]="eventos" [grupos]="grupos" [searchModel]="searchModel"
                        (alocaocaoSearch)="searchAlocacoes($event)" (evento)="selectEvento($event)"
                        (grupo)="selectGrupo($event)">
                    </app-alocacoes-search>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow " *ngIf="alocacoes.length > 0">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>Total de alocações : {{alocacoes.length}}</p>
                </div>
                <div class="col text-right ">
                    <button type="button" (click)="onCreateAlocacao()" class="btn btn-outline-primary">
                        Criar Alocação sem Cota</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2" *ngFor="let alocacao of alocacoes">
        <div class="col ">
            <div class="card shadow ">
                <div class="card-header border-0 ">
                    <div class="row align-items-center ">
                        <div class="col ">
                            <h4 class="mb-0 text-dark ">
                                Alocação número: {{alocacao.numAlocacao}}
                            </h4>
                        </div>
                        <div class="col text-right ">
                            <button type="button" (click)="onSelectAlocacao(alocacao)"
                                class="btn btn-sm btn-outline-primary">Detalhes</button>
                        </div>
                    </div>
                </div>
                <app-cotas-list [cotas]="alocacao.cotas" [selectable]="false"></app-cotas-list>
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
            </div>
        </div>
    </div>

    <div class="row mt-2" *ngIf="!alocacoes || alocacoes.length <=0">
        <div class="col ">
            <div class="card shadow ">
                <div class="card-body">
                    <p>Nenhuma alocação encontrada</p>
                </div>
            </div>
        </div>
    </div>
</div>