<div class="header bg-gradient-default pt-5 pb-9 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Alocação</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ alocacao.numAlocacao }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Evento</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ alocacao.grupo.saida.evento.nome }}</span>
                                </div>

                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-nowrap">Venda:
                                    {{ alocacao.grupo.saida.evento.inicioVenda | date: 'shortDate' }}
                                    - {{ alocacao.grupo.saida.evento.fimVenda | date: 'shortDate' }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Saída</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ alocacao.grupo.saida.nome }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-nowrap">{{ alocacao.grupo.saida.saidaEstimada | date: 'shortDate' }} -
                                    {{ alocacao.grupo.saida.retornoEstimado | date: 'shortDate' }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Grupo</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ alocacao.grupo.descricao }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-nowrap">Limite </span>
                                <span class="text-success mr-2">{{ alocacao.grupo.limiteAlocacoes }}</span>
                                <span class="text-nowrap">alocações</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--8">
    <div class="row mt-2 " *ngIf="alocacao.cotas.length > 0">
        <div class="col ">
            <div class="card shadow ">
                <div class="card-header border-0 ">
                    <div class="row align-items-center ">
                        <div class="col ">
                            <h4 class="mb-0 text-dark ">
                                Cotas Alocadas
                            </h4>
                        </div>
                        <div class="col text-right "></div>
                    </div>
                </div>
                <app-cotas-list [cotas]="alocacao.cotas"></app-cotas-list>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-2">
    <div class="row mt-2 ">
        <div class="col ">
            <div class="card shadow ">
                <div class="card-header border-0 ">
                    <div class="row align-items-center ">
                        <div class="col ">
                            <h4 class="mb-0 text-dark ">
                                Participantes Alocados
                            </h4>
                        </div>
                        <div class="col text-right ">
                            <button type="button" (click)="openParticipantes()" class="btn btn-sm btn-outline-primary">
                                Alocar Participante
                            </button>
                        </div>
                    </div>
                </div>
                <app-participantes-list-view [participantes]="alocacao.participantes"
                    (participante)="onRemoveParticipante($event)"></app-participantes-list-view>
            </div>
        </div>
    </div>
</div>

<app-participantes-search-dialog (participante)="onSelectParticipante($event)" (newParticipante)="newParticipante()"
    [showTrigger]="openParticipantesTrigger.asObservable()" [closeTrigger]="closeParticipantesTrigger.asObservable()">
</app-participantes-search-dialog>