<app-page-title [title]="'Novo Produto'"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-8">
                <div class="card-body px-lg-4 py-lg-4">
                    <form
                        appForm
                        *ngIf="registroProduto"
                        [formGroup]="registroProduto"
                        class="ng-untouched ng-pristine ng-valid ng-touched"
                        novalidate
                    >
                        <div class="form-group">
                            <label class="form-control-label">Código do Produto</label>
                            <input class="form-control form-control-alternative" placeholder="Código Produto" type="text" formControlName="codProduto" appAutoFocus/>
                            <app-error-component controlName="codProduto"></app-error-component>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Descrição do Produto</label>
                            <textarea
                                class="form-control form-control-alternative"
                                placeholder="Descrição do Produto"
                                type="text"
                                formControlName="descProduto"
                                maxlength="255"
                            ></textarea>
                            <app-error-component controlName="descProduto"></app-error-component>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Fabricante</label>
                                    <input
                                        class="form-control form-control-alternative"
                                        placeholder="Fabricante"
                                        type="text"
                                        formControlName="fabricante"
                                        maxlength="150"
                                    />
                                    <app-error-component controlName="fabricante"></app-error-component>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Conta</label>
                                    <input class="form-control form-control-alternative" placeholder="Conta" type="text" formControlName="conta" maxlength="150" />
                                    <app-error-component controlName="conta"></app-error-component>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Contra Partida</label>
                                    <input class="form-control form-control-alternative" placeholder="Contra Partida" type="text" formControlName="contraPartida" />
                                    <app-error-component controlName="contraPartida"></app-error-component>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Centro de Custo</label>
                                    <input class="form-control form-control-alternative" placeholder="Centro de Custo" type="text" formControlName="centroCusto" />
                                    <app-error-component controlName="centroCusto"></app-error-component>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-right">
                            <button class="btn btn-primary mr-4 btn-block" type="submit" (click)="cadastrarProduto()">
                                Cadastrar
                            </button>
                            <button class="btn btn-light mr-4 btn-block " type="button" (click)="voltar()">
                                Voltar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
