<app-page-title [title]="'Alterar Tipo de Comprovante'"></app-page-title>

<div class=" container-fluid mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-8">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-8">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Informações</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form appForm [formGroup]="editForm">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Codigo Tipo Comprovante</label>
                                        <input class="form-control form-control-alternative" type="text" formControlName="codTipoComprovante" required appAutoFocus />
                                        <app-error-component controlName="codTipoComprovante"></app-error-component>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Descricao Tipo Comprovante</label>
                                        <input formControlName="descTipoComprovante" class="form-control form-control-alternative" type="text" required maxlength="255" />
                                        <app-error-component controlName="descTipoComprovante"></app-error-component>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Fato Gerador</label>
                                        <input formControlName="fatoGerador" class="form-control form-control-alternative" type="text" required />
                                        <app-error-component controlName="fatoGerador"></app-error-component>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Classificação</label>
                                        <input formControlName="classificacao" class="form-control form-control-alternative" type="text" required maxlength="50" />
                                        <app-error-component controlName="classificacao"></app-error-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                    </form>
                    <ul class="nav nav-pills justify-content-end">
                        <button class="btn btn-light" (click)="voltar()">
                            Voltar
                        </button>
                        <button class="btn btn-primary" type="submit" (click)="updateComprovante()">
                            Salvar Mudanças
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
