<app-page-title [title]="'Novo evento'"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow">
                <div class="card-body px-lg-5 py-lg-5">
                    <form appForm [formGroup]="registroEvento" novalidate>
                        <div class="form-group">
                            <select class="form-control form-control-alternative" formControlName="tipoEventoId"
                                appAutoFocus>
                                <option disabled="" value="">-----Tipo Evento-----</option>
                                <option *ngFor="let tipoEvento of tipoEventos" value="{{ tipoEvento.id }}">
                                    {{ tipoEvento.codTipoEvento }}
                                </option>
                            </select>
                            <app-error-component controlName="tipoEventoId"></app-error-component>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-alternative" placeholder="Nome do Evento"
                                type="text" formControlName="nome" />
                            <app-error-component controlName="nome"></app-error-component>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-alternative" placeholder="Inicio da Venda" type="text"
                                formControlName="inicioVenda" bsDatepicker triggers="keyup:keydown || click:click" />
                            <app-error-component controlName="inicioVenda"></app-error-component>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-alternative" placeholder="Fim da Venda" type="text"
                                formControlName="fimVenda" bsDatepicker triggers="keyup:keydown || click:click" />
                            <app-error-component controlName="fimVenda"></app-error-component>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-alternative" placeholder="Porcentagem da Provisão" type="text"
                                formControlName="porcentagemProvisao" />
                            <app-error-component controlName="porcentagemProvisao"></app-error-component>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                <input class="form-control custom-control-input" placeholder="Acesso Restrito"
                                    type="checkbox" formControlName="acessoRestrito" id="checkbox-1" />
                                <label for="checkbox-1" class="custom-control-label">
                                    Acesso Restrito
                                </label>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary mr-4 btn-block" type="submit" (click)="cadastraEvento()">
                                Cadastrar
                            </button>
                            <button class="btn btn-light mr-4 btn-block" type="button" (click)="voltar()">
                                Voltar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>