<app-page-title [title]="'Total de Tipos de Comprovante: ' + comprovantes.length"></app-page-title>

<div class="container-fluid mt--8">
    <!-- Table -->
    <div class="row">
        <div class="col mt-2">
            <div class="card shadow">
                <div class="card-header border-8">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Tipos de Comprovante</h3>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    [routerLink]="['criar']"
                                >
                                    Criar Comprovante
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Código Tipo Comprovante</th>
                                <th scope="col">Descrição Tipo Comprovante</th>
                                <th scope="col" class="text-center">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let comprovante of comprovantes">
                                <td>
                                    {{ comprovante.codTipoComprovante }}
                                </td>
                                <td>
                                    {{ comprovante.descTipoComprovante }}
                                </td>
                                <td class="text-center">
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-primary "
                                        [routerLink]="[comprovante.id, 'edit']"
                                        tooltip="Editar"
                                        container="td"
                                        placement="top"
                                    >
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-sm btn-outline-danger"
                                        (click)="
                                            deleteComprovante(comprovante.id)
                                        "
                                        tooltip="Excluir"
                                        container="td"
                                        placement="top"
                                    >
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <ngx-loading
                            [show]="loading"
                            [config]="{ backdropBorderRadius: '3px' }"
                        ></ngx-loading>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
