<app-page-title [title]="'Novo Tipo de Comprovante'"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-8">
                <div class="card-body px-lg-5 py-lg-5">
                    <form appForm [formGroup]="registroComprovante">
                        <div class="form-group">
                            <input
                                class="form-control form-control-alternative"
                                placeholder="Código Comprovante"
                                type="text"
                                formControlName="codTipoComprovante"
                                appAutoFocus
                            />
                            <app-error-component controlName="codTipoComprovante"></app-error-component>
                        </div>
                        <div class="form-group">
                            <textarea
                                class="form-control form-control-alternative"
                                placeholder="Descrição do Comprovante"
                                type="text"
                                formControlName="descTipoComprovante"
                                maxlength="255"
                            ></textarea>
                            <app-error-component controlName="descTipoComprovante"></app-error-component>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-alternative" placeholder="Fato Gerador" type="text" formControlName="fatoGerador" />
                            <app-error-component controlName="fatoGerador"></app-error-component>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-alternative" placeholder="Classificação" type="text" formControlName="classificacao" />
                            <app-error-component controlName="classificacao"></app-error-component>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary mr-4 btn-block" type="submit" (click)="cadastraComprovante()">
                                Cadastrar
                            </button>
                            <button class="btn btn-light mr-4 btn-block" type="button" (click)="voltar()">
                                Voltar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
