<ng-template #searchParticipantesModal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Alocar Participante</h4>
        <button type="button" class="close" aria-label="Fechar" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <app-participantes-search [searchModel]="searchModel" (searchParticipantes)="searchParticipantes()"
                    (createParticipante)="createParticipante()">
                </app-participantes-search>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th>Tipo Participante</th>
                        <th>CPF</th>
                        <th>Nome Completo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let participante of participantes">
                        <td>{{participante.tipoParticipanteDesc}}</td>
                        <td>{{participante.cpf}}</td>
                        <td>{{participante.nomeCompleto}}</td>
                        <td class="text-center">
                            <button type="button" (click)="selectParticipante(participante)"
                                class="btn btn-sm btn-outline-primary" container="td" tooltip="Selecionar"
                                placement="top">
                                <i class="fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>