<app-page-title [title]="'Novo Tipo de Participante'"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-8">
                <div class="card-body px-lg-5 py-lg-5">
                    <form appForm [formGroup]="registroTipoParticipante">
                        <div class="form-group">
                            <textarea
                                class="form-control form-control-alternative"
                                placeholder="Descrição Tipo de Participante"
                                type="text"
                                formControlName="descTipoParticipante"
                                appAutoFocus
                            ></textarea>
                            <app-error-component controlName="descTipoParticipante"></app-error-component>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary mr-4 btn-block" type="submit" (click)="cadastrarTipoParticipante()">
                                Cadastrar
                            </button>
                            <button class="btn btn-light mr-4 btn-block" type="button" (click)="voltar()">
                                Voltar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
