<app-page-title [title]="'Novo Tipo de Evento'"></app-page-title>

<div class="container-fluid mt--8">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-8">
                <div class="card-body px-lg-5 py-lg-5">
                    <form appForm [formGroup]="registroTipoEvento">
                        <div class="form-group">
                            <input
                                class="form-control form-control-alternative"
                                placeholder="Codigo Tipo de Evento"
                                type="text"
                                formControlName="codTipoEvento"
                                appAutoFocus
                            />
                            <app-error-component controlName="codTipoEvento"></app-error-component>
                        </div>
                        <div class="form-group">
                            <textarea
                                class="form-control form-control-alternative"
                                placeholder="Descrição Tipo de Evento"
                                type="text"
                                formControlName="descTipoEvento"
                            ></textarea>
                            <app-error-component controlName="descTipoEvento"></app-error-component>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                <input class="form-control custom-control-input" type="checkbox" formControlName="alocGrupoCota" id="checkbox-1" />
                                <label class="custom-control-label" for="checkbox-1">
                                    Alocação de Grupo Com Cota
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                <input class="form-control custom-control-input" type="checkbox" formControlName="alocSemGrupoCota" id="checkbox-2" />
                                <label class="custom-control-label" for="checkbox-2">
                                    Alocação de Grupo Sem Cota
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                <input class="form-control custom-control-input" type="checkbox" formControlName="verificaCredito" id="checkbox-3" />
                                <label class="custom-control-label" for="checkbox-3">
                                    Verifica Crédito
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                <input class="form-control custom-control-input" type="checkbox" formControlName="cadastroObrigatorio" id="checkbox-4" />
                                <label class="custom-control-label" for="checkbox-4">
                                    Cadastro Obrigatório
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                <input class="form-control custom-control-input" type="checkbox" id="checkbox-5" formControlName="confirmacaoObrigatoria" />
                                <label class="custom-control-label" for="checkbox-5">
                                    Confirmação Obrigatória
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                <input
                                    class="form-control custom-control-input"
                                    placeholder="Verifica Inadimplencia"
                                    type="checkbox"
                                    id="checkbox-6"
                                    formControlName="verificaInadimplencia"
                                />
                                <label class="custom-control-label" for="checkbox-6">
                                    Verifica Inadimplência
                                </label>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary mr-4 btn-block" type="submit" (click)="cadastrarTipoEvento()">
                                Cadastrar
                            </button>
                            <button class="btn btn-light mr-4 btn-block" type="button" (click)="voltar()">
                                Voltar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
